<div ng-controller="beneficiarioController"  class="fieldset1 col-md-12">
                                        <h1><span>LIQUIDACION DE RENTA BENEFICIARIOS</span></h1>
                                        <!--<legend class="field">Costo de Instalacio&#769;n (Va&#769;lido solo para este convenio) </legend>-->

                                    
                                        <div class="col-md-12">
                                            <div class="fieldset1 col-md-12">
                                                <h1><span>INFORMACION TITULAR</span></h1>
                                                <!--<legend class="field">Credito: </legend>-->

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Matricula:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial" readonly="readonly"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">CI:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo" readonly="readonly"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">1r. Apellido:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial" readonly="readonly"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">2d. Apellido:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo" readonly="readonly"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Nombre:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial" readonly="readonly"/>
                                                    </div>
                                                </div>

                                            

                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                            <div class="fieldset1 col-md-12">
                                                <h1><span>REGISTRAR BENEFICIARIO</span></h1>
                                                <!--<legend class="field">Credito: </legend>-->

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Parentesco:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial" />
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Fecha Fallecimiento Titular:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Matricula:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Porcentaje Asignado:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Primer Apellido:</label>
                                                        <input type="text" class="form-control" id="primerNombre"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Segundo Apellido:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Primer Nombre:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo" />
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Segundo Nombre:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Sexo:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial" />
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Estado Civil:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo" />
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Apellido Casada:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Tipo Documento:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Numero Documento:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Numero Documento Adicional:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Lugar Emision Documento:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Fecha Nacimiento:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.en_maximo"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group-vertical">
                                                        <label class="control-label">Fecha Fallecimiento:</label>
                                                        <input type="text" class="form-control" ng-model="viewFormat2.costo_instalacion.cuota_inicial"/>
                                                    </div>
                                                </div>
                                                <!-- ################################# DIV-EASYJQ ############################## -->
                                                <div class="col-md-12">
                                                    <div class="fieldset1 col-md-12">
                                                        <h1><span>ASOCIAR NUEVA CALIFICACION DE RENTAS AL BENEFICIARIO</span></h1>
                                                        <!--<legend class="field">Credito: </legend>-->

                                                        <div class="col-md-4">
                                                            <div class="form-group-vertical">
                                                                <label class="control-label">Tipo de Resolucion:</label>
                                                                <select id="cc" class="form-control easyui-combobox" name="dept" style="width:200px;">
                                                                    <option value="aa">aitem1</option>
                                                                    <option>bitem2</option>
                                                                    <option>bitem3</option>
                                                                    <option>ditem4</option>
                                                                    <option>eitem5</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group-vertical">
                                                                <label class="control-label">Clase de Renta:</label>
                                                                <select id="Select1" class="easyui-combobox form-control" name="dept" style="width:200px;">
                                                                    <option value="aa">aitem1</option>
                                                                    <option>bitem2</option>
                                                                    <option>bitem3</option>
                                                                    <option>ditem4</option>
                                                                    <option>eitem5</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group-vertical">
                                                                <label class="control-label">Regional5555555:</label>
                                                                <input id="cc" name="dept" value="aa">
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <!-- ################################# GRID EASY-JQ ############################## -->
                                                <div class="col-md-12" ng-controller="gridBeneficiariosController">
                                                     <button type="button" ng-click="doReloadGrid();">reload-grid</button>
                                                     <table id="dg"></table>
                                                </div>

                                            </div>
                                       
                                        </div>

                                    </div>